input {
    all: unset;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 20px;
    background: #f9f9f9;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    gap: 8px;
}


.form input:hover {
    border-color: blue;

}

.form input[type="text"] {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: none;

    border: 1px solid #ccc;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    padding-left: 16px;
    transition: border-color 0.6s;
}

.form input[type="text"]:hover {
    outline: none;
    border: 1px solid #808080;
}

.form input[type="text"]:focus {
    outline: none;
    border: 1px solid #4E75FF;
}


.form input[type="text"]::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;

}



.form button {
    width: 75px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #4E75FF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #6C8CFF;
}

.gallery {
    width: 1128px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-auto-rows: auto;
    gap: 24px;
    padding: 0;
    list-style: none;
}
.photo-card {
    width: 360px;
    background: #fff;
    border: 1px solid #808080;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.2s;
}

.photo-card:hover {
    transform: scale(1.02);
}


.photo-card img {
    width: 360px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    background: #fafafa;
    font-size: 12px;
    border-top: 1px solid #ddd;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.info-item b {
    font-size: 12px;
    margin-bottom: 2px;
}

.loader-btn {
    width: 125px;
    
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #4E75FF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.load-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.loader {
    display: block;
    padding: 10px 16px;
    font-size: 16px;
    color: #2E2F42;
    text-align: center;
}
.hidden {
    display: none;
}

.loader.is-active {
    display: block;
}


.css-loader {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}